#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
ci-application/writable/cache/*
!writable/cache/index.html

ci-application/writable/logs/*
!writable/logs/index.html

ci-application/writable/session/*
!writable/session/index.html

ci-application/writable/uploads/*
!writable/uploads/index.html

ci-application/writable/debugbar/*

ci-application/php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
ci-application/user_guide_src/build/*
ci-application/user_guide_src/cilexer/build/*
ci-application/user_guide_src/cilexer/dist/*
ci-application/user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
ci-application/tests/coverage*

# Don't save phpunit under version control.
ci-application/phpunit

#-------------------------
# Composer
#-------------------------
ci-application/vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

ci-application//results/
ci-application//phpunit*.xml
ci-application//.phpunit.*.cache

# User uploaded files (the folders have to stay in GIT)
ci-application/public/uploads/images/*
ci-application/public/uploads/files/*
