# Exclude some files and directories from the project's releases
/.gitignore export-ignore
/.gitattributes export-ignore
/conventions.md export-ignore
/phpunit.xml.dist export-ignore
/.github/ export-ignore
/documentation/ export-ignore
/tests/ export-ignore