# Exclude some files and directories from the project's releases
/.gitignore export-ignore
/.gitattributes export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/conventions.md export-ignore
/phpunit.xml.dist export-ignore
/spark export-ignore
/documentation/ export-ignore
/tests/ export-ignore