#--------------------------------------------------------------------
# Docker environment variables
#--------------------------------------------------------------------
# DB_ROOT_PASSWORD = root_password
# DB_NAME = stock_db
# DB_USER = stock_user
# DB_PASSWORD = stock_password
