/* ADD CUSTOM STYLES HERE */

/* Login bar styles */
@media screen and (max-width: 768px) {
    #login-bar h1 {
        font-size: 25px;
    }
}
@media screen and (min-width: 768px) {
    #login-bar h1 {
        font-size: 30px;
    }
}

/* Nav menu style */
#my-navbar .active {
    border-bottom: 3px #1a661a solid;
}
li.nav-item {
	margin: 0 10px;
}

/* Items list style */
#list_item .item {
    padding: .75rem;
    margin-bottom: 1.5rem;
}
#list_item .item .item_picture img  {
    width: 100%;
    margin-bottom: 15px;
}

/* Items list for printing */
@media print {
    #list_item .col-sm-6 {
        max-width: 25%;
        flex: 0 0 25%;
    }

    #login-bar, #filters, hr, .btn, .alert, #pagination_top, #pagination_bottom {
        display: none;
    }
}
