h1 select {
    border:none;
}

a.line-through {
    color: inherit;
    text-decoration: none;
}

a.line-through:hover span {
    text-decoration: line-through;
}

a.like-normal {
    color: inherit;
    text-decoration: none;
}

div.link-admin {
    padding: 5px 0;
}

label {
    display: block;
}

/* Classes to add a standard margin to an element */
.top-margin {
	margin-top: 10px;
}
.right-margin {
	margin-right: 10px;
}
.bottom-margin {
	margin-bottom: 10px;
}
.left-margin {
	margin-left: 10px;
}

/* Added for mobile resizing */
@media (max-width: 769px) {
    h1 {
        font-size: 25px;
    }
    .xs-center{
        text-align: center;
    }
    .xs-right{
        text-align: right;
    }
}


/* Resizing select */
select {
  text-align: right;

  word-wrap: break-word;      /* IE */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: pre-wrap;      /* other browsers */

  max-width:calc(100% - 10px); /* -7px = size for comma */
  display:inline-block
}
