h1 select {
    border:none;
}

a.line-through {
    color: inherit;
    text-decoration: none;
}

a.line-through:hover span {
    text-decoration: line-through;
}

a.like-normal {
    color: inherit;
    text-decoration: none;
}

div.link-admin {
    padding: 5px 0;
}

label {
    display: block;
}